.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%
  }

  .navbar {
    overflow: hidden;
    width: 390px;
    margin: auto;
  }
  .navbar a {
    color: black;
    font-size: 10px;
  }

  hr.solid {
    border-top: 1px solid rgb(220, 220, 220);
    width: 60%;
  }

  .insideimg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%
  }

  .indextxt {
  margin-left: auto;
  margin-right: auto;
  width: 40%
}

.indextxt p {
    font-family: 'Courier New', Courier, monospace;
    padding-top: 30px;
}

.buybooks {
    color: blue;
    margin-left: 420px;
}

h3 {
    font-family: 'Courier New', Courier, monospace;
    padding-top: 10px;
    padding-bottom: 10px;
}

.carousel-inner img {
    margin: auto;
}

p, ul {
    font-family: 'Courier New', Courier, monospace;
}

footer img {
    width: 50px;
}

h5 {
  color: rgb(255, 136, 0);
  font-family: 'Courier New', Courier, monospace;
}

.img-thumbnail {
  width: 300px;
}

.row-content {
  padding: 50px 0;
  border-bottom: 1px;
  min-height: 200px; }

  .card-header {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
  }

  form {
    width: 100%;
    max-width: 980px;
    margin: 0 auto;
  }
  
  .scroll-box {
    overflow-y: scroll;
    width: 500px;
    height: 400px;
    margin: 0 auto;
    border:rgb(255, 136, 0)
    
  }